h1 {
    color: red;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

a:hover {
    color: darkgreen;
    font-size: 20px;
}
  .menu li {
   padding: 20px;
}

.menu ul {
    background-color: white;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.forma {
    display: flex;
    height: 100px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.h3 {
    color: aqua;
}